* {
    padding: 0;
    margin: 0;
    font: sans-serif;
}

header {
    background-color: #24252a;
    box-shadow: 0px 3px 10px #464646;
}

/* Menu */

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #00ff00;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 11px 15px 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
}

.apoie-button button {
    border: none;
    background-color: green;
    padding: 10px 15px;
    border-radius: 20px;
}

.apoie-button button a {

    text-decoration: none;
    color: #fff;
    font-weight: 500px;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
    }

    .apoie-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .apoie-button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .apoie-button button {
        width: 100%;
    }

    .open {
        display: block;
    }
}

.icon {
    width: 100px;
    cursor: pointer;
    float: right;
}

.reci {
    width: 30px;
    float: left;
}
/* Situação do lixo */
.situacao {
    background-color: #329542;
}

.situacao h3 {
    color: white;
}

.situacao h1 {
    color: white;
}
/* Como Reciclar */
.reciclar-content{
	font-family: 'Nunito', sans-serif;
	color: white;
	width: 100%;
    height: 100%;
    position: absolute;
}

.reciclar-titulo{
display: flex;
margin-top: 30px;
margin-left: 430px;

}

.reciclar-inicio{
display: flex;
text-align: center;
width: 50%;
margin-left: 300px;
margin-top: 20px;
}

.reciclar-separacao{
display: flex;
margin-top: 22px;
margin-left: 350px;
}

.reciclar-separacao-inicio{
display: flex;
text-align: center;
width: 50%;
margin-left: 300px;
margin-top: 9px;
}

.lixeiras{
	display: flex;
	border-radius: 10px;
	width: 600px;
	margin-left: 335px;
    margin-top: 23px;
}

.reciclar-lavagem{
	display: flex;
	text-align: center;
	margin-left: 350px;
	margin-top: 40px;
}
.reciclar-lavagem-inicio{
	display: flex;
	text-align: center;
	margin-left: 300px;
	margin-top: 8px;
}

.reciclar-deposito{
	display: flex;
	text-align: center;
	margin-left: 350px;
	margin-top: 40px;
}
	
.reciclar-deposito-inicio{
	display: flex;
	text-align: center;
	width: 50%;
	margin-left: 290px;
	margin-top: 12px;
}
/* Login */
body{
	background-image: linear-gradient(to right top, #214121, #285428, #2e682f, #357c36, #3c913d, #3c923d, #3d923e, #3d933e, #377f38, #306b31, #2a582b, #244624);
	background-repeat: no-repeat;
	background-size: 1800px 1800px;
}

.main{
  display: flex;
	width: 350px;
	height: 500px;
	background: red;
	overflow: hidden;
	background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #000;
  margin-left: 450px;
  margin-top: 15px;
}

#chk{
	display: none;
}
.signup{
	position: relative;
	width:100%;
	height: 100%;
}
.label{
	color: #fff;
	font-size: 2.3em;
	justify-content: center;
	display: flex;
	margin: 60px;
	font-weight: bold;
	cursor: pointer;
	transition: .5s ease-in-out;
}
.input{
	width: 60%;
	height: 20px;
	background: #e0dede;
	justify-content: center;
	display: flex;
	margin: 20px auto;
	padding: 10px;
	border: none;
	outline: none;
	border-radius: 5px;
}
#btnRegistrar{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}
#btnLogin{
	width: 60%;
	height: 40px;
	margin: 10px auto;
	justify-content: center;
	display: block;
	color: #fff;
	background: #573b8a;
	font-size: 1em;
	font-weight: bold;
	margin-top: 20px;
	outline: none;
	border: none;
	border-radius: 5px;
	transition: .2s ease-in;
	cursor: pointer;
}

#btnLogin:hover{
	background: #6d44b8;
}
#btnRegistrar:hover{
	background: #6d44b8;
}
.login{
	height: 460px;
	background: #eee;
	border-radius: 60% / 10%;
	transform: translateY(-180px);
	transition: .8s ease-in-out;
}
.login label{
	color: #573b8a;
	transform: scale(.6);
}

#chk:checked ~ .login{
	transform: translateY(-500px);
}
#chk:checked ~ .login label{
	transform: scale(1);	
}
#chk:checked ~ .signup label{
	transform: scale(.6);
}
.mensagem{
color: white;
display: flex;
margin-left: 90px;
}
.mensagemRegistro{
color: white;
display: flex;
margin-left: 80px;
}

/* Tabela */
.body-tabela{
	text-align: center;
	}
	
	
	.table { 
	border-collapse: collapse; 
	margin: 25px 0; 
	font-size: 0.9em; 
	font-family: sans-serif; 
	min-width: 965px; 
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	
	}
	
	.gs {
	background-color: #009879; 
	color: #ffffff; 
	text-align: left; 
	border-bottom: 1px solid #dddddd;
	}
	
	td { 
	padding: 12px 15px; 
	}
	
	tr:nth-of-type(even) { 
	background-color: #f3f3f3; 
	}
	tr:last-of-type { 
	border-bottom: 2px solid #009879; 
	}
	tr.active-row { 
	font-weight: bold; 
	color: #009879; 
	}

    /* Feedback */
    .btnEnviar {
        text-decoration: none;
        position: absolute;
        border: none;
        font-size: 14px;
        font-family: inherit;
        color: #fff;
        width: 5em;
        height: 2em;
        line-height: 2em;
        text-align: center;
        background: linear-gradient(90deg,#10881a,#4ea147,#0e2e01,#10881a);
        background-size: 300%;
        border-radius: 30px;
        z-index: 1;
       }
       
       .btnEnviar:hover {
        animation: ani 8s linear infinite;
        border: none;
       }
       
       @keyframes ani {
        0% {
         background-position: 0%;
        }
       
        100% {
         background-position: 400%;
        }
       }
       
       .btnEnviar:before {
        content: '';
        position: absolute;
        top: -5px;
        left: -5px;
        right: -5px;
        bottom: -5px;
        z-index: -1;
        background: linear-gradient(90deg,#10881a,#4ea147,#0e2e01,#10881a);
        background-size: 400%;
        border-radius: 35px;
        transition: 1s;
       }
       
       .btnEnviar:hover::before {
        filter: blur(20px);
       }
       
       .btnEnviar:active {
        background: linear-gradient(32deg,#10881a,#4ea147,#0e2e01,#10881a);
       }
       
       .conteudo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        padding: 50px 50px 50px;
        text-align: center;
        border: 10px solid white;
        border-radius: 50px;
        color: rgb(0, 0, 0);
        background-color:rgb(58, 90, 40);
    }
    .body-feedback{
        background-image: url('/Recycle/visual/imagens/wallhaven-dg3lw3.jpg');
    }

    .bem-vindo {
        color: #b0e7b0;
        font-family: 'Segoe UI', Helvetica, sans-serif;
        text-align: center;
        
    }
    
    .cintroducao {
        color: #b0e7b0;
        font-family: 'Segoe UI', Helvetica, sans-serif;
        text-align: center;
    }
    
    .conteudo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: 5px solid #b0e7b0;
        border-radius: 30px;
        padding: 10px 10px 10px;
    }
    /* Inicio */
    .body-inicio {
        background-image: url('/Recycle/visual/imagens/wallhaven-nrp377.jpg');
        animation: gradient 60s ease infinite;
    }
    
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
    
        50% {
        background-position: 100% 50%;
        }
    
        100% {
        background-position: 0% 50%;
        }
    }
    
    